body {
  font-family: "Epilogue", sans-serif;
  margin: 0px;
}

.main-tag {
  font-size: 90px;
  text-align: center;
  color: white;
}
.line-for-inspire {
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.donate-button {
  margin-top: 70px;
  text-align: center;
  font-size: 30px;
}
.bonate-anch {
  text-decoration: none;

  padding: 20px 40px;
  background-color: #e15f41;
  color: white;
  border-radius: 50px;
  font-weight: 600;
}
.first-part {
  padding-left: 30px;
  padding-top: 170px;
  padding-right: 30px;
  padding-bottom: 170px;
  background-image: url(./images/donation6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-part a:hover {
  background-color: #ea8685;
}
/*--End Of First Part--*/

.second-tag {
  font-size: 60px;
  text-align: center;
  padding-top: 150px;
}
.second-pera {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 50px;
}
.money-amount {
  display: flex;
  font-size: 50px;
  padding-left: 400px;
  font-weight: 800;
  color: rgb(108, 108, 108);
  margin-bottom: 100px;
}

.one-h-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}

.two-h-tk {
  padding: 20px;
  background-color: rgba(234, 98, 98, 0.281);
  border: 5px rgba(255, 0, 0, 0.646) solid;
  border-radius: 10px;
  margin-right: 40px;
}
.five-h-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}
.one-t-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}
.five-t-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}

.other-amount-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: white;
  margin-bottom: 70px;
}
textarea {
  height: 60px;
  width: 56%;
  border: none;
  border-bottom: 2px solid gray;
  background-color: transparent;
  font-size: 40px;
}

/*this code is searched from google*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
/*this code is searched from google*/

.donate-button-two {
  text-align: center;
  font-size: 30px;
  text-decoration: none;

  padding: 20px 40px;
  background-color: #e15f41;
  color: white;
  border-radius: 50px;
  font-weight: 600;
  margin-left: 800px;
}

a:hover {
  background-color: #ea8685;
}

/*----End of Second Part----*/

.third-tag {
  font-size: 70px;
  margin-top: 200px;
  text-align: center;
}
.third-pera {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 90px;
}

.medicine-logo {
  height: 80px;
}
.medicine-pera {
  font-size: 20px;
}
.the-plan-part {
  display: flex;
}
.study-logo {
  height: 70px;
}
.food-logo {
  height: 90px;
}

.medicine-part {
  border: none;
  border-radius: 5px;
  margin-left: 275px;
  margin-right: 20px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff79792d;
}
.food-part {
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 30px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #778ca342;
}
.shelter-part {
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 30px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #a45eea2d;
}

.third-part {
  margin-bottom: 150px;
}

/*----End of third part---*/

.contact-part-tag {
  font-size: 60px;
  color: rgb(0, 104, 173);
  text-align: center;
  padding-left: 100px;
}
.contact-pera {
  font-size: 25px;
  text-align: center;
  padding-left: 191px;
}
.phone-logo {
  height: 30px;
}
.phone-number {
  font-size: 30px;
  color: #0069af;

  font-weight: 500;
}
.phone {
  display: flex;
}
.contact-mother {
  display: flex;
}
.right-children {
  display: block;
}
input {
  width: 500px;
  height: 30px;
}
.name {
  border: 2px solid #0069af;
  width: 500px;
  height: 30px;
  border-radius: 50px;
}
.asking-email {
  border: 2px solid #0069af;
  width: 500px;
  height: 30px;
  border-radius: 50px;
}
.asking-number {
  border: 2px solid #0069af;
  width: 500px;
  height: 30px;
  border-radius: 50px;
}
.asking-massage {
  border: 2px solid #0069af;
  width: 500px;
  height: 100px;
  border-radius: 25px;
}
.left-children {
  margin-left: 66px;
}
.right-children {
  margin-left: 200px;
}

.send-button {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}
.send-button-anch {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: #0069af;
  border-radius: 50px;
  font-weight: 600;
}

.contact-section {
  padding-top: 40px;
  padding-bottom: 117px;
  background-color: white#3dc1d34b;
}

.backgourd-logo {
  height: 500px;
  width: 500px;
  padding-left: 100px;
}

/*---End Of Third Part---*/

.update-tag {
  font-size: 60px;
  text-align: center;
}
.update-pera {
  font-size: 25px;
  text-align: center;
}

.box form input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}

.box form input[type="text"] {
  background: #ffff;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}
.box form input[type="submit"] {
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  background: #ff5153;
  color: white;
  left: -5px;
  cursor: pointer;
}
.subscribe-part {
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 91px;
  margin-bottom: 140px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: rgba(250, 235, 215, 0.59);
}

/*---End Of Subscribe Part--*/
footer {
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: black;
}
.humble {
  text-align: center;
  font-size: 60px;
  color: green;
  font-family: "Dancing Script", cursive;
}

.last-line {
  text-align: center;
  font-size: 25px;
  color: white;
}
