body {
  font-family: "Epilogue", sans-serif;
  margin: 0px;
}

.main-tag {
  font-size: 90px;
  text-align: center;
  color: white;
}
.line-for-inspire {
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.donate-button {
  margin-top: 70px;
  text-align: center;
  font-size: 30px;
}
.bonate-anch {
  text-decoration: none;

  padding: 20px 40px;
  background-image: linear-gradient(45deg, green, rgb(172, 249, 57));
  color: white;
  border-radius: 10px;
  font-weight: 600;
}
.first-part {
  padding-left: 30px;
  padding-top: 170px;
  padding-right: 30px;
  padding-bottom: 170px;
  background-image: url(./images/children-of-war-1172016.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.first-part a:hover {
  background-image: linear-gradient(45deg, rgb(0, 119, 255), white);
}
/*--End Of First Part--*/

.second-tag {
  font-size: 60px;
  text-align: center;
  padding-top: 150px;
}
.second-pera {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 50px;
}
.money-amount {
  display: flex;
  font-size: 50px;
  padding-left: 400px;
  font-weight: 800;
  color: rgb(108, 108, 108);
  margin-bottom: 100px;
}

.one-h-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}

.two-h-tk {
  padding: 20px;
  background-color: rgba(234, 98, 98, 0.281);
  border: 5px rgba(255, 0, 0, 0.646) solid;
  border-radius: 10px;
  margin-right: 40px;
}
.five-h-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}
.one-t-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}
.five-t-tk {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.105);
  border: rgba(128, 128, 128, 0.105);
  border-radius: 10px;
  margin-right: 40px;
}

.other-amount-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: white;
  margin-bottom: 70px;
}
textarea {
  height: 60px;
  width: 56%;
  border: none;
  border-bottom: 2px solid gray;
  background-color: transparent;
  font-size: 40px;
}

/*this code is searched from google*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
/*this code is searched from google*/

.donate-button-two {
  text-align: center;
  font-size: 30px;
  text-decoration: none;

  padding: 20px 40px;
  background-image: linear-gradient(45deg, green, rgb(172, 249, 57));
  color: white;
  border-radius: 10px;
  font-weight: 600;
  margin-left: 800px;
}

a:hover {
  background-image: linear-gradient(45deg, rgb(0, 119, 255), white);
}

/*----End of Second Part----*/

.third-tag {
  font-size: 70px;
  margin-top: 200px;
  text-align: center;
}
.third-pera {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 90px;
}

.medicine-logo {
  height: 80px;
}
.medicine-pera {
  font-size: 20px;
}
.the-plan-part {
  display: flex;
}
.study-logo {
  height: 70px;
}
.food-logo {
  height: 90px;
}

.medicine-part {
  border: none;
  border-radius: 5px;
  margin-left: 275px;
  margin-right: 20px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff79792d;
}
.food-part {
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 30px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #778ca342;
}
.shelter-part {
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 30px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #a45eea2d;
}

.third-part {
  margin-bottom: 80px;
}
